
#include "resource.h"

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL

IDD_MAIN DIALOG DISCARDABLE 0, 0, 250, 260
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU
CAPTION "ReactOS RAM Disk Creator V1.1"
FONT 9, "Segoe UI"
{
  CONTROL "&Exit", IDB_EXIT, "Button", WS_TABSTOP, 4, 244, 50, 11
  CONTROL "&Start", IDB_START, "Button", WS_TABSTOP, 196, 244, 50, 11
  CONTROL "Select your drive:", 0, "Static", WS_GROUP, 4, 4, 55, 8
  CONTROL "", IDL_DRIVE, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 4, 16, 95, 34
  CONTROL "Select your file system:", 0, "Button", BS_GROUPBOX, 4, 52, 223, 30
  CONTROL "FAT32", IDR_FAT32, "Button", BS_RADIOBUTTON|WS_TABSTOP, 18, 67, 36, 14
  CONTROL "FAT", IDR_FAT, "Button", BS_RADIOBUTTON|WS_TABSTOP, 197, 66, 27, 14
  CONTROL "Select The BootCD:", 0, "Static", WS_GROUP, 6, 92, 74, 10
  CONTROL "", IDE_BOOTCD, "Edit", ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP, 4, 104, 186, 14
  CONTROL "Select", IDB_SELECTA, "Button", WS_TABSTOP, 199, 103, 37, 15
  CONTROL "Copyright Arnav Bhatt 2019", IDL_LABEL, "Static", SS_CENTER|WS_GROUP, 68, 244, 112, 9
  CONTROL "Select The LiveCD:", 0, "Static", WS_GROUP, 6, 128, 74, 10
  CONTROL "", IDE_LIVECD, "Edit", ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP, 4, 140, 186, 14
  CONTROL "Select", IDB_SELECTB, "Button", WS_TABSTOP, 199, 139, 37, 15
  CONTROL "Select The FreeLdr.ini:", 0, "Static", WS_GROUP, 4, 164, 76, 10
  CONTROL "", IDE_FREELDRI, "Edit", ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP, 4, 176, 186, 14
  CONTROL "Select", IDB_SELECTC, "Button", WS_TABSTOP, 200, 176, 37, 15
  CONTROL "Select The FreeLdr.sys:", 0, "Static", WS_GROUP, 4, 200, 80, 10
  CONTROL "", IDE_FREELDRS, "Edit", ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP, 4, 212, 186, 14
  CONTROL "Select", IDB_SELECTD, "Button", WS_TABSTOP, 200, 212, 37, 15
}

IDI_ICON ICON "ram.ico"
IDI_ICON_SMALL ICON "rams.ico"

